.msg-view {
    color: white;
    border: 3px solid #393E41;
    border-radius: 10px;
    font-family: "Antic Slab", serif;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: center;
    padding: 10px;

    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 1s;

    margin-top: auto;
}

.info-msg {
    background-color: #78e937;
}

.error-msg {
    background-color: #E94F37;
}

.hidden-msg {
    border: 3px solid white;
    background-color: white;
    color: white;
}