.register-form, .login-form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.text-field, .select-field, .identity-field, .submit-btn, .verify-btn, .code-field {
    border: 3px #393E41 solid;
    border-radius: 5px;
    padding: 5px;

    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
    height: 28px;
}

.text-field, .method-field, .submit-btn {
    min-width: 300px;
}

.identity-field {
    min-width: 200px;
}

.text-field:focus, .identity-field:focus, .select-field:focus {
    border-color: #E94F37;
}

.submit-btn, .verify-btn {
    background-color: #3F88C5;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s;
}

.submit-btn:active {
    background-color: #E94F37;
}

.disabled-btn, .disabled-btn:active {
    background-color: #c5c5c5;
    border-color: #222222;
}

.verification-form {
    width: 100%;
    display: flex;
    justify-content: stretch;
    column-gap: 10px;
}

.verify-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hidden-form {
    display: none;
}

.code-field {
    max-width: 200px;
    letter-spacing: 15px;
}