.method-field {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

.select-field {
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);

    transition: all .5s;
}

.identity-field {
    flex-grow: 1;
}

.select-icon {
    height: 25px;
    width: 25px;
}

.rotate-select {
    transform: rotate(360deg);
}