* {
  box-sizing: border-box;
}

button, input, select, option {
  all: unset;
  cursor: default;
  font-family: "Antic Slab", serif;
  font-weight: 400;
}

html, body {
  height: 100%;
  margin: 0
}

#root {
  height: 100%;
  min-width: 335px;
  max-width: 480px;
  margin: 0 auto;
  padding: 10px 20px;
}

@media screen and (max-width: 480px) {
  #root {
    display: flex;
    justify-content: center;
  }
}

