.switch-button {
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

.switch-form-btn, .delimiter {
    font-size: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #393E41;

    border-bottom: transparent solid 2px;
    box-sizing: border-box;

    transition: all 0.5s;
}

.delimiter {
    border: 1px solid #393E41;
    transform: rotate(15grad);
}

.switched-btn {
    color: #3F88C5;
    border-bottom: #3F88C5 solid 2px;
}

